<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pronghorn.coffee.user.dao.UserAddressInfoMapper">
  <resultMap id="BaseResultMap" type="com.pronghorn.coffee.user.entity.UserAddressInfo">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="USER_ID" jdbcType="VARCHAR" property="userId" />
    <result column="ADDRESS" jdbcType="VARCHAR" property="address" />
    <result column="PHONE" jdbcType="VARCHAR" property="phone" />
    <result column="RECIVE_NAME" jdbcType="VARCHAR" property="reciveName" />
    <result column="IS_DEFAULT" jdbcType="VARCHAR" property="isDefault" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, USER_ID, ADDRESS, PHONE, RECIVE_NAME, IS_DEFAULT
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from USER_ADDRESS_INFO
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from USER_ADDRESS_INFO
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.pronghorn.coffee.user.entity.UserAddressInfo">
    insert into USER_ADDRESS_INFO (ID, USER_ID, ADDRESS, 
      PHONE, RECIVE_NAME, IS_DEFAULT
      )
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{reciveName,jdbcType=VARCHAR}, #{isDefault,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pronghorn.coffee.user.entity.UserAddressInfo">
    insert into USER_ADDRESS_INFO
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="address != null">
        ADDRESS,
      </if>
      <if test="phone != null">
        PHONE,
      </if>
      <if test="reciveName != null">
        RECIVE_NAME,
      </if>
      <if test="isDefault != null">
        IS_DEFAULT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="reciveName != null">
        #{reciveName,jdbcType=VARCHAR},
      </if>
      <if test="isDefault != null">
        #{isDefault,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pronghorn.coffee.user.entity.UserAddressInfo">
    update USER_ADDRESS_INFO
    <set>
      <if test="userId != null">
        USER_ID = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        PHONE = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="reciveName != null">
        RECIVE_NAME = #{reciveName,jdbcType=VARCHAR},
      </if>
      <if test="isDefault != null">
        IS_DEFAULT = #{isDefault,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pronghorn.coffee.user.entity.UserAddressInfo">
    update USER_ADDRESS_INFO
    set USER_ID = #{userId,jdbcType=VARCHAR},
      ADDRESS = #{address,jdbcType=VARCHAR},
      PHONE = #{phone,jdbcType=VARCHAR},
      RECIVE_NAME = #{reciveName,jdbcType=VARCHAR},
      IS_DEFAULT = #{isDefault,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>